# 1. Discussion and Background of the Business Problem:

Tokyo is one of the most populous metropolitan in the world. Just Tokyo alone has over 15 million people. In addition, there are few hundred thousands of people commute from suburb to Tokyo business area to work every day. Tokyo is a one of the most famous gourmet city in the world. Besides traditional Japanese food like sushi, ramen, tempura, other cuisine like Italian, Chinese and French are ranked in top tier globally. There are 226 Michelin-starred restaurants in Tokyo totally, which are the most in the cities around the globe.

Tokyo have 5 major business wards Chiyoda (千代田区), Chuo (中央区), Shinjuku (新宿区), Shibuya (渋谷区) and Shinagawa (品川区). Few hundred thousands of white collar workers consume food, beer, coffee.. etc in these districts. There are numerous options and competitions are extremely high. If you are a restaurant owner and planning to open a new one, where should you open it. Would you choose the most populated area or you choose less competition district. In this project, we will examine it.

### Target Audience

F&B business corporation or individual owner can use this analaysis to decide where to expand new outlets that targeting office workers

# 2. Data Preparation

I first make use of zip.nowmsg.com to scrap the table to create a data-frame. For this, I’ve used requests and Beautifulsoup4 library to create a data-frame containing name of the 23 wards with 4 columns wards, district, latitude and longitude.

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

response_obj = requests.get('https://zip.nowmsg.com/city.asp?country=JP&state=Tokyo%20To&county=Shinjuku%20Ku').text

In [4]:
soup = BeautifulSoup(response_obj,'html.parser')

In [5]:
lst = []
for row in soup.select('div[class="col-md-3 my-padding-6"]'):
    district = row.text.strip()
    url = 'https://zip.nowmsg.com/postal_code.asp?country=JP&state=Tokyo%20To&county=Shinjuku%20Ku&city='+district
    inside = requests.get(url).text
    s = BeautifulSoup(inside,'html.parser')
    s_list = s.select('table[class="table table-hover"]')
    tmp = str(s_list)
    patt = re.compile(r'\b\d+\.\d+')
    lnl = patt.findall(tmp)
    lat = lnl[0]
    lon = lnl[1]
    lst.append(['Shinjuku',district,lat,lon])


s_df = pd.DataFrame(lst, columns=["Ward", "District","Latitude","longitude"])

In [8]:
s_df.head()

       Ward          District Latitude longitude
0  Shinjuku          Agebacho  35.7024   139.743
1  Shinjuku         Aizumicho  35.6902  139.7199
2  Shinjuku   Akagi Motomachi  35.7056  139.7393
3  Shinjuku  Akagi Shitamachi  35.7057  139.7343
4  Shinjuku          Arakicho  35.6902  139.7229